.content {
    width: 760px;
    margin: 0 auto;
    position: relative;
    top: -100px;
    padding: 40px 60px;
    background: #fff;
}

.content a {
    color: var(--links-color);
    font-size: 1.2em;
}